
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Recruit</title>

    <link href="~/css/site.css" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/js/rippleffect/base.98fd6c19.css">
    <script>
        document.documentElement.className = "js";

        var supportsCssVars = function supportsCssVars() {
            var e,
                t = document.createElement("style");
            return t.innerHTML = "root: { --tmp-var: bold; }", document.head.appendChild(t), e = !!(window.CSS && window.CSS.supports && window.CSS.supports("font-weight", "var(--tmp-var)")), t.parentNode.removeChild(t), e;
        };

        supportsCssVars() || alert("Please view this demo in a modern browser that supports CSS Variables.");
    </script>

</head>
<body>
    <div class="center">
        <form action="/Race/Play" method="post">
            <input type="hidden" value="@ViewBag.gamename" id="gamename" name="gamename">
            <input type="hidden" value="@ViewBag.trackid" id="trackid" name="trackid">

            <div class="content">
                <div class="button p-4">
                    <div class="button__text">
                        <span class="brand" styl>Type Race</span>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="playername" name="playername" placeholder="Enter your name" maxlength="8" autocomplete="off" required>
                            <div class="input-group-append button__text-inner" style="width:100px;">
                                <button class="btn btn-outline-primary btn-block p-1 button " type="submit" id="play"> Play </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="button">
                    <div class="button__text">







                    </div>
                </div>
            </div>

        </form>
    </div>

    <svg class="cursor" width="25" height="25" viewBox="0 0 25 25">
        <circle class="cursor__inner" cx="12.5" cy="12.5" r="6.25"></circle>
    </svg>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <script>
        var grpname = "";

        grpname="@ViewBag.gamename";
        //console.log("game name: " + grpname);

    </script>
    <script src="~/js/rippleffect/demo.9ce5c2ea.js"></script>
    <script src="~/js/rippleffect/demo1.151408fb.js"></script>

</body>
</html>
