@*@page
    @model ForgotPasswordModel
    @{
        ViewData["Title"] = "Forgot your password?";
    }

    <h1>@ViewData["Title"]</h1>
    <h4>Enter your email.</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }*@


@page
@model ForgotPasswordModel

@{
    ViewData["Title"] = "Forgot your password?";
}
<h1 class="sr-only">TypeRace</h1>
<div class="auth-promo">
    <div class="auth-promo-content">
        <span class="auth-promo-content-hd d-block h3 text-white mb-5"><img src="~/img/svg/TypeRace-logo.svg" class="img-fluid"></span>
        <p class="auth-promo-content-bd text-white">
            Extract data from
            statements, forms,
            schedules, everthing and
            automate your business
        </p>
    </div>

</div>

<div class="auth-input">
    <div class="d-flex flex-column flex-lg-row justify-content-between text-center text-lg-right px-4 py-3 mb-4">
        <a asp-area="Identity" asp-page="/Account/Login" class="forgot-back"><i class="ri-arrow-left-line"></i></a>
        <span class="d-lg-none d-block mb-3"><img src="~/img/svg/TypeRace-logo-dark.svg" class="img-fluid"></span>
        <p>New user? <a asp-area="Identity" asp-page="/Account/Register">Create an account</a></p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="auth-input-content">
            <h3 class="text-center">Forgot Password?</h3>
            <p class="text-center mb-5">Enter the email address you used when you joined and we’ll send you instructions to reset your password.</p>

            <div class="auth-input-fields">

                <form class="form-signin" method="post">

                    <div class="form-label-group form-group-mb">
                        <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                        <label asp-for="Input.Email">Email address</label>
                    </div>
                    @*<div asp-validation-summary="All" class="text-danger"></div>*@
                    <button class="btn btn-primary btn-block font-weight-bold custom-form-input" type="submit">Send</button>
                </form>
            </div>
        </div>


    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}








