@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}


<h1 class="sr-only">TypeRace</h1>
<div class="auth-promo">
    <div class="auth-promo-content">
        <span class="auth-promo-content-hd d-block h3 text-white mb-5"><img src="~/img/svg/TypeRace-logo.svg" class="img-fluid"></span>
        <p class="auth-promo-content-bd text-white">
            Extract data from
            statements, forms,
            schedules, everthing and
            automate your business
        </p>
    </div>

</div>

<div class="auth-input">
    <div class="text-center text-lg-right px-4 py-3 mb-4">
        <span class="d-lg-none d-block mb-3"><img src="~/img/svg/TypeRace-logo-dark.svg" class="img-fluid"></span>
        <p>Already have account? <a asp-area="Identity" asp-page="/Account/Login">Sign in</a></p>
    </div>
    @Html.Raw(@TempData["SignupSuccessMessage"])
    <div class="d-flex justify-content-center">

        <div class="auth-input-content">
            <h3 class="text-center">Reset Your Password</h3>

            <div class="auth-input-fields">
                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block font-weight-bold custom-form-input">Reset</button>
                </form>
            </div>
        </div>


    </div>
</div>









@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

